<div class="flex flex-col items-center justify-center w-full h-[85vh] bg-slate-100">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="font-bold text-3xl py-6">Log in</h2>

  <div class="flex flex-col space-y-4 w-[450px] ">
  <div class="field space-y-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full border-slate-300 focus:border-blue-300 focus:outline-none rounded" %>
  </div>

  <div class="field space-y-1">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"w-full border-slate-300 focus:border-blue-300 focus:outline-none rounded" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field flex items-center space-x-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions p-2 bg-blue-500 text-white text-center font-bold">
    <%= f.submit "Log in" %>
  </div>

  </div>
  <% end %>
<p class="my-4 underline text-center space-y-2">
<%= render "devise/shared/links" %>
</p>

</div>
